$pink-ish:rgba(255, 192, 203, 0.505);
    $goldish:rgba(251,235,215,1);
    $theme-font:rgba(166, 69, 0, 0.985);

    @import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');


@mixin animations{

    @keyframes expand{
        from{width:0vw;
        left: 100%;
        }
        to{width:100%;
        left:0;}
    }
    @keyframes close {
        from{width:100%}
        to{width:0vw;
        visibility:hidden;
    }
    }
    @keyframes openDisplay{
        from{
            position:relative;
            width:100vw;
            height:100%;
            right:0%;
            z-index: 2;
        }
        to{
            position:relative;
            width:0vw;
            right:100%;
            visibility: hidden;
    
        }
    }
    @keyframes closeDisplay{
        from{
            position:relative;
            width:0vw;
            right:100%;
        }
        to{
            
            position:relative;
            width:100vw;
            height:100%;
            right:0;
            z-index: 2;
        }
    }

}
