@include animations;

.main-panel{
    position:relative;
    height:100%;
    width:0;
    right:100%;
    z-index:0;

}
.expand-panel{
    animation-name:expand;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
.close-panel{
    animation-name:close;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.todo{
    width:80%;
    display:flex;
    border:2px solid black;
    justify-content: space-between;
}
.title{
    position:relative;
    z-index: 0;
    font-size:1.5rem;
    font-weight:700;
}
.todo-new-title{
    position:absolute;
    left:0;
    width:100%;
    font-size:1.5rem;
}
.due-date{
    position: relative;
        z-index: 0;
        font-size: 1.5rem;
        font-weight: 700;
}
.todo-new-date{
    position: absolute;
        left: 0;
        width: 100%;
        font-size: 1.5rem;
}


#expand-arrow{
    font-size:2rem;
    position:absolute;
    top:50%;
}

.create-todo-form{
    border: 2px solid black;
        height: 20%;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: gray;
}