@include animations;
.main-panel{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:5rem;
    align-items: center;
    background-color: $bgColor;
    color:$theme-font;
    position:relative;
    height:100%;
    width:0;
    left:100%;
    z-index:0;
    overflow:hidden;

}
.expand-panel{
    animation-name:expand;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
.close-panel{
    animation-name:close;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
.project-display-panel{
    
    padding-top:5rem;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:5%;
    align-items: center;
}

#nav-bar{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    top:0%;
    height:3rem;
    width:100%;
    padding:1rem;
   
    overflow: visible;
    
    text-shadow: 1px 3px 5px rgba(0,0,0,0.6);
    box-shadow: 1px 3px 5px black;
}

#expand-arrow{
    flex:1 1 auto;
    background:$theme-font;
    mask-image:url('./img/projects.svg');
    mask-repeat: no-repeat;
    mask-size:6rem;
    -webkit-mask-image:url('./img/projects.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size:6rem;
    width:3rem;
    height:1.8rem;
}
#nav-title{
    flex :5 5 auto;
}
@media(min-width:500px){
    .main-panel{
        border-radius: 2rem;
    }
    #nav-bar{
        height:4rem;
    }
}

#tool-tip{
    font-size:.8rem;
    
}