@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@include animations;
@media (max-width:500px){
    .side-panel{
        background-color:rgb(255, 255, 255);
        width:100%;
        height:100%;
        position:relative;
        z-index: 2;
    }
    .display-open{
        animation-duration: 200ms;
    }
    .display-closed{
        animation-duration: 200ms;
    }

    #panel-title{
        padding:2rem;
        color:$theme-font;
        font-size:3rem;
    }








}





.side-panel{
    font-family:'Gruppo',cursive;
    background-color: rgb(48, 48, 48);
    height:100%;
    width:100%;
    position:relative;
        z-index: 2;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(34, 34, 34);


}
.display-open{
    animation-name:openDisplay;
    animation-delay:0ms;
    animation-duration:500ms;
    animation-fill-mode: forwards;
}
.display-closed{
    animation-name:closeDisplay;
    animation-delay:0ms;
    animation-duration:500ms;
    animation-fill-mode: forwards;
}

.project-manager{
    display:flex;
    height:30%;
    width:100%;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}
.project{
    $pink-ish:rgba(255, 192, 203, 0.505);
    $goldish:rgba(251,235,215,1);
    justify-content: flex-start;
    align-items: center;
    padding: .5rem 1rem .5rem 1rem;
    display:flex;
    width:80%;
    color:$theme-font;
     border:2px solid $theme-font;
     border-radius: .5rem;
    // box-shadow:inset 1px 2px 6px 1px pink;
    .project-name{
        left:1rem;
        position: relative;
        text-align: center;
        font-size:1.7rem;

    }
   .button-panel{
        position:absolute;
        z-index:3;
        left:70%;
    
   }
}
.new-project-button{
    height:2rem;
    width:10rem;
    font-family:'Roboto',sans-serif;
    font-size:1rem;
    border:2px solid $theme-font;
    border-radius:.5rem;
    color:$theme-font;
    background: rgb(48, 48, 48);
    position:relative;
    left:25%;

}
#input-placeholder{
    position:relative;
    
    .project-name{
        position:relative;
        z-index:0;
       
        
        #form-project-name{
            position:absolute;
            
            text-align: center;
            left:0;
            width:100%;
            height:1.5rem;
            
           
        }
        #create-button{
            position:absolute;
            left:10rem;
        }
    }
}


