@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@include animations;
@media (max-width:500px){
    .side-panel{
        background-color:rgb(66, 66, 66);
        width:100%;
        height:100%;
    }
    .display-open{
        animation-duration: 200ms;
    }
    .display-closed{
        animation-duration: 200ms;
    }
}





.side-panel{
    background-color: rgb(29, 29, 32);
    height:100%;
    width:100%;
    position:relative;
        z-index: 2;
    

}
.display-open{
    animation-name:openDisplay;
    animation-delay:0ms;
    animation-duration:500ms;
    animation-fill-mode: forwards;
}
.display-closed{
    animation-name:closeDisplay;
    animation-delay:0ms;
    animation-duration:500ms;
    animation-fill-mode: forwards;
}

.project-manager{
}

.project-display-panel{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project{
    justify-content: center;
    align-items: center;
    display:flex;
    color:rgb(210, 91, 0);
   button{
    height:1rem;
   }
}


