@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@include animations;
@media (max-width:500px){
    .side-panel{
        background-color:rgb(255, 255, 255);
        width:100%;
        height:100%;
        position:relative;
        z-index: 2;
    }
    .display-open{
        animation-duration: 200ms;
    }
    .display-closed{
        animation-duration: 200ms;
    }

    #panel-title{
        padding:2rem;
        color:$theme-font;
        font-size:3rem;
        
    }








}



.side-panel{
    background-color:$bgColor;
    height:100%;
    width:100%;
    position:relative;
    z-index: 2;
    display:flex;
    gap:2rem;
    flex-direction: column;
    align-items: center;
    background: rgb(34, 34, 34);
    
    
}
#panel-title{
    padding:2rem;
    text-align: center;
    color:$theme-font;
    font-size:3rem;
    text-shadow: 1px 3px 5px rgba(0,0,0,0.6);
}
.projman-header{
    width:80%;
}
#projman-label{
    font-size:1.5rem;
    position:relative;
    top:1rem;
    color:$theme-font;
    text-shadow: 1px 3px 5px rgba(0,0,0,0.6);

}
.display-open{
    animation-name:openDisplay;
    animation-delay:0ms;
    animation-duration:300ms;
    animation-fill-mode: forwards;
}
.display-closed{
    animation-name:closeDisplay;
    animation-delay:0ms;
    animation-duration:300ms;
    animation-fill-mode: forwards;
}

.project-manager{
    display:flex;
    width:100%;
    flex-direction:column;
    justify-content: flex-start;
    gap:1rem;
    align-items: center;
}
.project{
    text-shadow: 1px 3px 5px rgba(0,0,0,0.6);
    box-shadow: 1px 3px 5px black;
    $pink-ish:rgba(255, 192, 203, 0.505);
    $goldish:rgba(251,235,215,1);
    justify-content: flex-start;
    align-items: center;
    padding: .5rem 1rem .5rem 1rem;
    display:flex;
    width:80%;
    color:$theme-font;
     border:$border;
     border-radius: .5rem;
    transition:ease-in-out 150ms;
    .project-name{
        left:1rem;
        position: relative;
        text-align: center;
        font-size:1.4rem;

    }
   .button-panel{
        position:absolute;
        z-index:3;
        left:70%;
        display:flex;
        gap:1rem;
    
   }
}
.project:hover{
    width:90%;
    height:3.5rem;
    transition:ease-in-out 150ms;

}
#new-name-input{
    font-family:'Open Sans',sans-serif;
    font-size:1.4rem;
    font-weight:700;
    width:72%;
    background:$bgColor;
    color:$theme-font;
    border-radius:.6rem;
    border:none;
    box-shadow:1px 2px 3px black;

}
.edit-project{
    appearance:none;
    background:none;
    border:$border;
    border-radius: .4rem;
   height:24px;
   width:24px;
   border:none;
   box-shadow:1px 2px 3px black;
   padding:.2rem;
}
.edit-icon{
    width:17.6px;
    height:17.6px;
    color:$theme-font;
    background-color: $theme-font;
    mask-image: url(./img/pencil.svg) ;
    mask-size:2.9rem;
    
    mask-clip:border-box;
    -webkit-mask-image: url(./img/pencil.svg) ;
    -webkit-mask-size:2.9rem;
    
    -webkit-mask-clip:border-box;
    
    
    // -webkit-mask-size: 1rem;
    // mask-size: 1rem;

}

.new-project-button{
    height:2rem;
    width:10rem;
    font-size:1rem;
    border-radius:.5rem;
    color:$theme-font;
    background: $bgColor;
    appearance:none;
    background:none;
    border-radius: .4rem;
   
   border:none;
   text-shadow: 1px 3px 5px rgba(0,0,0,0.6);
    box-shadow: 1px 2px 3px black;
   padding:.2rem;
   transition:ease-in-out 150ms;

}
.new-project-button:hover{
    height:2.5rem;
    width:12rem;
    transition:ease-in-out 150ms;
}
.project-remove-button{
    appearance:none;
        background:none;
        border:none;
        border-radius:.4rem;
        height:24px;
        width:24px;
        padding:.1rem;
        color:$theme-font;
        font-family:'Open Sans', sans-serif;
        font-weight:700;
        font-size:.8rem;
        box-shadow:1px 2px 3px black;
}
#input-placeholder{
   flex-shrink:0;
   display:flex;
   justify-content: space-around;
}
#form-project-name{
    font-family:'Open Sans',sans-serif;
    font-size:1.4rem;
    font-weight:700;
    width:72%;
    background:none;
    color:$theme-font;
    border-radius:.6rem;
    border:none;
    box-shadow:1px 2px 3px black;
}
#create-button{
    appearance:none;
        background:none;
        border:none;
        border-radius:.4rem;
        padding:.3rem;
        color:$theme-font;
        font-family:'Open Sans', sans-serif;
        font-weight:700;
        font-size:.8rem;
        box-shadow:1px 2px 3px black;
}

@media (min-width:500px){
    .side-panel{
        width:clamp(500px,70%,800px);
        border-radius: 2rem;
    }
    body{
        background-color: white;
    }
    }
