.todo{
    text-shadow: 1px 3px 5px rgba(0,0,0,0.6);
    box-shadow: 1px 2px 3px black;
    width:90%;
    padding:1rem;
    display:flex;
    border:$border;
    justify-content: space-between;
    align-items: center;
    border-radius:.5rem;
}
.checkbox-container{
    flex:1 1 auto;
height:100%;
display:flex;
justify-content: center;
align-items: center;
}
.todo-checkbox{
    
    width:20px;
    height:20px;
    border:$border;
    background:$bgColor;
    border-radius:50%;
    appearance: none;
  
}
input[type='checkbox']:checked{
    width:20px;
    height:20px;
    border:$border;
    background: rgb(255,167,46);
    background: radial-gradient(circle, $theme-font 0%,$theme-font 32%, rgba(0,0,0,1) 69%); 
    border-radius:50%;
  
}
.title{
    position:relative;
    z-index: 0;
    font-size:1rem;
    font-weight:700;
    flex: 3 3 auto;
    max-width: 40%;
}
.todo-new-title{
    position:absolute;
    background:$bgColor;
    color:$theme-font;
    border:$border;
    box-shadow: 1px 2px 3px black;
    font-size:1rem;
    font-weight:700;
    font-family:'Open Sans',sans-serif;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.due-date{
    text-align: center;
    position: relative;
        z-index: 0;
        font-size:1rem;
        flex: 1 1 auto;
}
.todo-new-date{
    position: absolute;
        left: 0;
        width: 85%;
}
.remove-button-container{
    display:flex;
    justify-content: center;
    align-items: center;
    .remove-todo{
        appearance:none;
        background:none;
        border-radius: 50%;
        border:none;
        height:1.2rem;
        width:1.2rem;
        padding:.1rem;
        color:$theme-font;
        font-family:'Open Sans', sans-serif;
        font-weight:700;
        font-size:.8rem;
        box-shadow:1px 2px 3px black;
        

    }
}

.create-todo-form{
    border: 2px solid black;
        width:80%;
        position: absolute;
        top: 25%;
        left: 10%;
        background-color:$bgColor;
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        align-items: center;


        text-shadow: 1px 3px 5px rgba(0,0,0,0.6);
        box-shadow: 1px 2px 3px black;
        border:$border;
        border-radius:.5rem;


        #todo-form{
            padding:1.2rem;
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height:50%;
          
            label{ 
                color:$theme-font;
                font-size:1.5rem;
                width:100%;
            }

            input{
                background:none;
                border:$border;
                color:$theme-font;
                font-size:1.4rem;
                border-radius:.4rem;
            }
        }
        #form-buttons-td{
            padding:1.2rem;
            width:100%;
            display:flex;
            justify-content: space-evenly;
            button{
                height:2rem;
                width:10rem;
                font-size:1rem;
                border-radius:.5rem;
                color:$theme-font;
                background: $bgColor;
                border:none;
                
                
                padding:.3rem;
                font-family:'Open Sans', sans-serif;
                font-weight:700;
                font-size:.8rem;
                box-shadow:1px 2px 3px black;

            }
        }
}

#todo-create-new{
    height:2rem;
    width:10rem;
    font-size:1rem;
    border:$border;
    border-radius:.5rem;
    color:$theme-font;
    text-shadow: 1px 3px 5px rgba(0,0,0,0.6);
    background: $bgColor;
    box-shadow: 1px 2px 3px black;

    transition:ease-in-out 150ms;
}
#todo-create-new:hover{
    height:3rem;
    width:12rem;
    box-shadow: 1px 4px 5px black;
    transition:ease-in-out 150ms;


}