@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import './styles/animations.scss';
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
*{
    margin:0;
    font-family:'Open Sans',sans-serif;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
    font-weight:700;
    font-size:18pt;
    background-color: $bgColor;
}
@import './styles/projectPanel.scss';
@import './styles/mainPanel.scss';
@import './styles/todos.scss';


