@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import './styles/animations.scss';
body{
    display:flex;
    justify-content: flex-start;
    height:100vh;
    width:100vw;
    font-family:'Roboto',sans-serif;
    font-weight:700;
    font-size:16pt;
}
@import './styles/projectPanel.scss';
@import 'styles/mainPanel.scss';


